.third-box {
    height: 165px;
    background-color: rgba(8, 70, 150, 0.1);
  }
  .third-box .arrow{
    cursor: pointer;
    font-size: 2em;
    padding: 0 5px;
  }
  .third-box .content{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
  justify-content: space-between;
  }

  .content .by{
font-weight: bold;
  }