@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* DISABLE TEXT SELECT - CLASS ADDED TO BODY */
.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}


body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  /* border: 1px #ccc solid; */
}

header {
  padding: 0 35px;
  height: 45px;
}

header h1 {
  font-weight: 700;
}

header i {
  color: blue;
}

.boxes {
  padding: 0 15px;
}

.box {
  border-radius: 10px;
}






footer {
  height: 50px;
  border-top: 1px #ccc solid;
  /* margin-top: auto; */
  padding: 5px 15px;
  color: #ccc;

}

footer .app-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
}

footer .app-button svg {
  font-size: 1.5rem;
  margin: 0 auto;
}
